<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/secundario</property>
		<property name="connection.username">root</property>
		<property name="connection.password">patoxkgm</property>
		<property name="hibernate.current_session_context_class">thread</property>
 		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hbm2ddl.auto">create-drop</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<mapping resource="org/web3/secundario/model/Usuario.hbm.xml" />
		<mapping resource="org/web3/secundario/model/Alumno.hbm.xml" />
		<mapping resource="org/web3/secundario/model/TipoDocumento.hbm.xml" />
		<mapping resource="org/web3/secundario/model/Pais.hbm.xml" />
		<mapping resource="org/web3/secundario/model/Docente.hbm.xml" />
		<mapping resource="org/web3/secundario/model/Curso.hbm.xml" />
		<mapping resource="org/web3/secundario/model/Materia.hbm.xml" />
		<mapping resource="org/web3/secundario/model/CursoMateria.hbm.xml" />
	</session-factory>
</hibernate-configuration>
